@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  color: #444;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 1rem;
}

h1 {
  color: rgb(179, 131, 226);
  font-size: 3rem;
  text-align: center;
  opacity: 0.8;
  margin-bottom: 2rem;
}

form {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  width: 400px;
  margin: 0 auto;
}

.input {
  border: none;
  color: #444;
  font-size: 1.6rem;
  padding: 1rem;
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}

.input::placeholder {
  color: #d5d5d5;
}

button {
  background-color: rgb(179, 131, 226);
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.6rem;
  padding: 1rem;
  display: block;
  width: 100%;
}

select {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #444;
  font-size: 1.6rem;
  padding: 1rem;
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}

.todos {
  list-style: none;
  margin: 0;
  padding: 0;
}

.todos li {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem;
}

.todos li:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.todos li.completed {
  background-color: #f0f0f0;
  text-decoration: line-through;
}

.todos li .todo-text {
  flex: 1;
}

.todos li .todo-actions {
  margin-left: 1rem;
}

.todos li .todo-actions button {
  background-color: transparent;
  border: none;
  color: rgb(179, 131, 226);
  cursor: pointer;
  font-size: 1.4rem;
  margin-left: 1rem;
}

.todos li .todo-actions button:hover {
  text-decoration: underline;
}

.todos small {
  color: #aaa;
  font-size: 1.2rem;
}

.user-profile {
  align-items: center;
  display: flex;
  margin-bottom: 2rem;
}

.profile-picture {
  background-color: rgb(179, 131, 226);
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
}

.user-details {
  margin-left: 1rem;
}

.username {
  color: rgb(179, 131, 226);
  font-size: 1.8rem;
}

.status {
  color: #aaa;
}

.edit-profile {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  padding: 2rem;
  max-width: 400px;
  margin: 0 auto;
  order: -1;
}

.edit-profile h2 {
  color: rgb(179, 131, 226);
  font-size: 2rem;
  margin-bottom: 2rem;
}

.edit-profile label {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.edit-profile input[type="file"] {
  margin-bottom: 1rem;
}

.edit-profile input[type="text"] {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0.5rem;
  width: 100%;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.edit-profile button {
  background-color: rgb(179, 131, 226);
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.6rem;
  padding: 1rem;
  display: block;
  width: 100%;
}

