@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  color: #444;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 1rem;
}

h1 {
  color: rgb(179, 131, 226);
  font-size: 3rem;
  text-align: center;
  opacity: 0.8;
  margin-bottom: 2rem;
}

form {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  width: 400px;
  margin: 0 auto;
}

.input {
  border: none;
  color: #444;
  font-size: 1.6rem;
  padding: 1rem;
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}

.input::placeholder {
  color: #d5d5d5;
}

.user-profile {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.profile-picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-right: 20px;
}

.username {
  font-size: 2rem;
  font-weight: bold;
}

#editProfileButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
  cursor: pointer;
}

#editProfileButton:hover {
  background-color: #0056b3;
}

#addButton {
  background-color: rgb(179, 131, 226);
  color: #fff;
  border: none;
  padding: 1rem;
  font-size: 1.6rem;
  cursor: pointer;
  width: 100%;
  margin-bottom: 1rem;
}

#addButton:hover {
  background-color: rgb(146, 93, 195);
}

#clearButton {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 1rem;
  font-size: 1.6rem;
  cursor: pointer;
  width: 100%;
  margin-bottom: 1rem;
}

#clearButton:hover {
  background-color: #b02a37;
}

.todos {
  list-style: none;
  padding: 0;
  margin: 0;
}

.todo {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo.complete {
  background-color: rgba(0, 0, 0, 0.05);
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.5);
}

.todo.complete .todo-actions {
  display: none;
}

.todo-actions {
  display: flex;
  gap: 0.5rem;
}

.delete-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 0.5rem;
  font-size: 1.4rem;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #b02a37;
}

